* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  /* background-color: #222; */
}
/**
*!HEADER AND HERO SECTION SECTION START
**/
.portfolio-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
}
.navlist {
  display: flex;
  gap: 3.5rem;

  /* width: 100%; */
}
.logo-image {
  width: 80px;
}
.navlist a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 15vh;
  position: fixed;
  width: 100%;
  padding: 0 3rem;
  z-index: 999;
  /* background-color: blue; */
}
.navigation h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.hero-section-left,
.hero-section-right {
  height: 100vh;
  padding: 0 2rem;
}
.hero-section-left {
  background-color: #262525;
  width: 70%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.hero-section-right {
  background-color: #3877ff;
  width: 30%;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* align-items: center;
  justify-content: center; */
}
.icons .fa-brands {
  color: #bbb;
  font-size: 1.7rem;
}
.content {
  margin-left: 4rem;
}
.intro {
  font-size: 1.5rem;
  color: #fff;
}
.intro span {
  color: #5db9ee;
}
.content h1 {
  font-size: 2.5rem;
  color: #5db9ee;
}
.detail {
  font-size: 1.1rem;
  color: #fff;
  max-width: 38rem;
  margin: 1.1rem 0 3rem 0;
  line-height: 1.8rem;
}
.btn-container button {
  border: 0.1rem solid #5db9ee;
  font-size: 1.1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
button:nth-child(1) {
  background-color: #5db9ee;
}
button:nth-child(1):hover {
  color: #5db9ee;
  background: transparent;
}
button:nth-child(2) {
  color: #5db9ee;
  background: transparent;
  margin-left: 2rem;
}
button:nth-child(2):hover {
  background-color: #5db9ee;
  color: #262525;
}
.icons .fa-brands:hover {
  cursor: pointer;
  background: linear-gradient(#fff, #3d77ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.design .circle {
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.circle:nth-child(1) {
  background: linear-gradient(90deg, transparent 50%, #262525 50%);
  width: 38rem;
}

.circle:nth-child(2) {
  background-image: url(./images/Gemini_Generated_Image_uqlydouqlydouqly.png);
  width: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.1rem solid white;
  box-shadow:
    0 0 1rem white,
    inset 0 0 1rem white,
    0 0 2rem #3877ff,
    inset 0 0 2rem #3877ff,
    0 0 4rem #3877ff,
    inset 0 0 4rem #3877ff;
}
.hero-section-right {
  background: linear-gradient(45deg, #3877ff, #262525 70%);
}
.navlist li a {
  position: relative;
}
.navlist li a::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 0.1rem;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.1s ease-in;
}
.navlist li a:hover::after {
  transform: scaleX(100%);
  transform-origin: bottom left;
}
/**
*!HEADER AND HERO SECTION SECTION COMPLETE
**/

/**
*! ABOUT SECTION SECTION START
**/

.about-section {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem;
}
.about-section-left {
  flex: 1;
}
.about-section-left img {
  width: 70%;
  height: auto;
  border-radius: 50%;
  margin-left: 3rem;
}
.about-section-right {
  flex: 1;
  text-align: start;
}
.about-section-right .info {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-top: 2rem;
}
.info i {
  margin-right: 1rem;
}
.content p {
  /* color: #fff; */
  text-align: start;
}
/**
*!ABOUT SECTION SECTION END
**/
/**


*!SKILL SECTION SECTION START
**/
.bg-dark-gray {
  /* background-color: #262525bd; */
}
.content {
  text-align: center;
  color: #262525;
  padding-top: 4rem;
}
.content h3 {
  /* margin-top: 4rem; */
}
.skill-level {
  width: 100%;
  background: #262525;
  height: 0.7rem;
  border-radius: 0.5rem;
  position: relative;
}
.skill-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  padding: 0 3rem;
  grid-row-gap: 2rem;
}
.info {
  display: flex;
  justify-content: space-between;
}
.skill-bar {
  background: #3877ff;
  position: absolute;
  inset: 0;
  border-radius: 3rem;
}
.html {
  width: 80%;
}
.css {
  width: 70%;
}
.javascript {
  width: 65%;
}
.react {
  width: 75%;
}
.node-js {
  width: 50%;
}
.mongoo-db {
  width: 70%;
}
.container {
  padding-bottom: 3rem;
}
/**
*!SKILL SECTION SECTION END
**/
.text-center {
  text-align: center;
}
.portfolio-work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 0;
  gap: 2rem;
  width: 80%;
  margin: auto;
  transition: all 3s ease-in-out;
}
.portfolio-work img:hover {
  transform: scale(1.1);
  gap: 3rem;
}

/**
*!FOOTER SECTION START
**/
.footer {
  background: linear-gradient(45deg, #3877ff, #262525 70%);
  padding: 2rem 0;
}
.footer-icons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.copyright-text {
  font-size: 1rem;
  color: #fff;
}
